.outline__btn {
    padding: 10px 16px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    outline: 0px none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    &:hover {
        border: 2px solid $blue;
        color: $blue;
    }
}
.main__btn {
    width: 100%;
    background-color: $blue;
    color: #fff;
    padding: 17px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    outline: 0px none;
    border: 0px none;
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    img {
        margin: 0 5px;
    }
    &:hover {
        background-color: $blue2;
        img {
            transition: all 0.3s ease;
            transform: translateX(5px);
        }
    }
}

.title__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    h1 {
        font-size: 40px;
        font-weight: 500;
        line-height: 40px;
        color: $black;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: $gray;
        max-width: 310px;
    }
}
.component__vue {
    height: 80vh;
    width: 100%;
    background-color: $white4;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    h3 {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}
