@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Display:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

body {
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 0;
}

.outline__btn {
  padding: 10px 16px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  outline: 0px none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.outline__btn:hover {
  border: 2px solid #005AA3;
  color: #005AA3;
}

.main__btn {
  width: 100%;
  background-color: #005AA3;
  color: #fff;
  padding: 17px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  outline: 0px none;
  border: 0px none;
  cursor: pointer;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.main__btn img {
  margin: 0 5px;
}
.main__btn:hover {
  background-color: #014379;
}
.main__btn:hover img {
  transition: all 0.3s ease;
  transform: translateX(5px);
}

.title__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.title__block h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  color: #2C2C2C;
}
.title__block p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #5C5C5C;
  max-width: 310px;
}

.component__vue {
  height: 80vh;
  width: 100%;
  background-color: #DFDFDF;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
.component__vue h3 {
  display: flex;
  justify-content: center;
  text-align: center;
}
.component__vue h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  min-width: 566px;
  display: flex;
  flex-direction: column;
}
.form form {
  display: flex;
  flex-direction: column;
}
.form form button {
  margin: 5px 0;
}
.form__form-input {
  padding: 18px 18px;
  margin: 10px 0;
  background-color: #F0F4FB;
  border: 0px none;
  border-radius: 12px;
  outline: 0px none;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.form__form-polit {
  margin: 10px 0;
}
.form__form-polit label {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #AAAAAA;
}
.form__form-polit label a {
  margin-left: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: underline;
  text-decoration-color: #005AA3;
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.checkbox-view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #005aa3;
  border-radius: 4px;
  background: #fff;
  transition: 0.3s;
}
.checkbox-icon {
  opacity: 0;
  transition: 0.3s;
  width: 10px;
  height: 10px;
}
.checkbox-icon path {
  fill: #005aa3;
}
.checkbox:checked + .checkbox-view {
  background-color: transparent;
  border: 1px solid #005aa3;
}
.checkbox:checked + .checkbox-view .checkbox-icon {
  opacity: 1;
  fill: #005aa3;
}

.header {
  background-image: url("../img/bg/bg_firstblock.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0 0 0;
}
.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1490196078);
}
.header__navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__navbar-menu nav {
  margin: 0 20px;
}
.header__navbar-menu nav ul {
  display: flex;
}
.header__navbar-menu nav ul li {
  margin: 0 10px;
}
.header__navbar-menu nav ul li a {
  color: #ffffff;
  transition: all 0.2s ease;
}
.header__navbar-menu nav ul li a:hover {
  color: rgba(255, 255, 255, 0.5019607843);
}
.header__navbar-tel {
  display: flex;
  align-items: center;
  margin: 0 12px;
  border-right: 2px solid rgba(255, 255, 255, 0.1490196078);
  padding-right: 12px;
}
.header__navbar-tel a {
  margin: 0 20px 0 0;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  transition: all 0.3s ease;
}
.header__navbar-tel a:hover {
  color: rgba(255, 255, 255, 0.5019607843);
}
.header__navbar-social {
  display: flex;
}
.header__navbar-social a {
  margin: 0 5px;
  cursor: pointer;
}
.header__navbar-social a svg {
  transition: fill 0.5s linear, stroke 0.5s linear;
}
.header__navbar-social a svg:hover rect {
  stroke: #005AA3;
}
.header__navbar-social a svg:hover path {
  fill: #005AA3;
}
.header__navbar-social-favorite {
  transition: all 0.3s ease;
}
.header__navbar-social-favorite svg:hover rect {
  fill: #005AA3;
}
.header__navbar-social-favorite svg:hover path {
  stroke: #ffffff;
}
.header__intro-block {
  display: flex;
}
.header__intro-wrapper {
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: column;
}
.header__intro-checks {
  display: flex;
  flex-wrap: wrap;
  max-width: 440px;
  gap: 10px;
}
.header__intro-checks button {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1019607843);
  color: #ffffff;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border: 0px none;
  outline: 0px none;
  border-radius: 30px;
  padding: 10px 12px;
  font-size: 16px;
  font-weight: 400;
}
.header__intro-checks button img {
  margin: 0 6px 0 0;
}
.header__intro-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;
  padding-bottom: 10%;
}
.header__intro-item h1 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  line-height: 30px;
  max-width: 60%;
}
.header__intro-item svg {
  margin: 20px 0;
  cursor: pointer;
}
.header__intro-item svg:hover {
  transition: fill 0.7s ease-in-out;
  fill: #ffffff;
}
.header__intro-item svg:hover path {
  fill: #000;
}
.header__intro-slider {
  border-left: 1px solid rgba(255, 255, 255, 0.1490196078);
  padding: 30px 30px 10% 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;
  height: 140vh;
}
.header__slider-wrapper {
  width: 400px;
  padding: 14px;
  margin: 20px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1490196078);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  color: #ffffff;
}
.header__slider-intro-title {
  width: 100%;
}
.header__slider-intro-title h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.1490196078);
  border-radius: 10px;
  padding: 20px;
}
.header__slider-intro-subtitle {
  display: flex;
  align-items: center;
  position: relative;
  margin: 12px 0;
}
.header__slider-intro-subtitle-wrapper {
  z-index: 10000;
}
.header__slider-intro-subtitle-wrapper p {
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 70%;
}
.header__slider-intro-subtitle-wrapper p img {
  width: 22px;
  height: 22px;
  margin-bottom: 10px;
}
.header__slider-intro-img img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 8000;
}
.header__slider-item button {
  margin: 12px 0 24px 0;
}
.header__slider-item button img {
  margin: 0 5px;
}
.header__slider-item button:hover {
  background-color: #014379;
}
.header__slider-item button:hover img {
  transition: all 0.3s ease;
  transform: translateX(5px);
}
.header__contacts {
  background-image: url("../img/bg/bg_contacts.webp");
}
.header__contacts-wrapper {
  padding: 2% 0 12% 0;
}
.header__contacts-path {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1490196078);
  padding-bottom: 2%;
}
.header__contacts-path a {
  margin: 0 20px 0 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}
.header__contacts-path p {
  color: rgba(255, 255, 255, 0.5019607843);
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.header__contacts-intro {
  margin: 3% 0 5% 0;
}
.header__contacts-intro h1 {
  color: #ffffff;
}
.header__mp {
  background-color: #2C2C2C;
  background-image: unset;
}
.header__mp-wrapper {
  padding: 2% 0;
}
.header__pay {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #2C2C2C;
  background-image: unset;
}
.header__pay-wrapper {
  padding: 2% 0;
}
.header__pay-path {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.header__pay-path a {
  margin: 0 20px 0 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}
.header__pay-path p {
  color: rgba(255, 255, 255, 0.5019607843);
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.header__villages {
  background-image: url("../img/bg/bg_villages.webp");
  background-color: #2C2C2C;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0 0 0;
}
.header__villages-path {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1490196078);
  padding: 20px 0;
}
.header__villages-path a {
  margin: 0 20px 0 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}
.header__villages-path p {
  color: rgba(255, 255, 255, 0.5019607843);
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.header__villages-intro-block .header__intro-wrapper {
  margin: unset;
  width: 100%;
}
.header__subtitle-item {
  color: #ffffff;
  padding: 6% 0 2% 0;
}
.header__subtitle-item h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 54px;
}
.header__subtitle-item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 42px 0;
}
.header__villages-intro-checks {
  padding-bottom: 14%;
}
.header__finishing {
  background-image: url("../img/bg/bg_finishing.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2% 0 12% 0;
}
.header__finishing .header__pay-path {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1490196078);
}
.header__finishing-intro-item {
  text-align: center;
  margin: 50px auto;
}
.header__finishing-intro-item h1 {
  color: #ffffff;
  font-size: 60px;
  line-height: 60px;
  font-weight: 500;
}
.header__finishing-intro-item p {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 30px 0;
}
.header__finishing-card-item .territory__card-img {
  display: flex;
  align-items: center;
}
.header__finishing-card-item .territory__card-img h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: #2C2C2C;
  margin-left: 10px;
}
.header__finishing-card-item .territory__card-title p {
  color: #5C5C5C;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.header__finishing-img img {
  border-radius: 12px;
}
.header__finishing-subtitle button {
  margin: 14px 0 0 0;
}
.header__mortgage {
  background-image: url("../img/bg/bg_mortgage.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2% 0 12% 0;
}
.header__mortgage .header__pay-path {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1490196078);
}
.header__mortgage-cards {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  width: 100%;
}
.header__mortgage-card-item {
  background-color: rgba(255, 255, 255, 0.1019607843);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 14px;
  padding: 20px;
}
.header__mortgage-card-item p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin: 20px 0;
}
.header__hp {
  background-image: url("../img/bg/bg_hp.webp");
}
.header__ch {
  background-image: url("../img/bg/bg_cataloghome.webp");
}

.villages {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #ffffff;
  margin-top: -20px;
  padding: 10% 0;
}

.cottages {
  background-color: #F0F4FB;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 8% 0;
}

.house {
  background-color: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -20px;
  padding: 8% 0;
}

.conditions {
  background-image: url("../img/bg/bg_conditions.webp");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #F0F4FB;
  padding: 80px 0 20px 0;
}
.conditions__intro h1 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 500;
  line-height: 54px;
  text-align: center;
}
.conditions__wrapper {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.conditions__card {
  max-width: 368px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1019607843);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 14px;
  padding: 20px;
  position: relative;
}
.conditions__card-title {
  padding: 18px 10px;
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  border-radius: 12px;
}
.conditions__card-title h2 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}
.conditions__card-subtitle {
  margin: 15px 0;
  display: flex;
}
.conditions__card-subtitle p {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  margin: 10px 0;
  max-width: 240px;
}
.conditions__card-subtitle p img {
  width: 22px;
  height: 22px;
  margin: 10px 0;
}
.conditions__card-subtitle-img {
  position: absolute;
  right: 0;
  z-index: 8000;
}
.conditions__card-subtitle-img img {
  max-width: 180px;
}

.territory {
  background-color: #F0F4FB;
  padding: 8% 0;
}
.territory__cards {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.territory__card-item {
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 12px;
  width: 270px;
}
.territory__card-img img {
  margin: 10px 0;
}
.territory__card-title {
  margin: 12px 0;
}
.territory__card-title h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.video {
  background-color: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -20px;
  padding: 8% 0;
}
.video__slider-btn {
  display: flex;
  gap: 10px;
}
.video__slider-btn button {
  background: transparent;
  border: 0px none;
  outline: 0px none;
  cursor: no-drop;
  opacity: 1;
}
.video__cataloghome {
  background-color: #F0F4FB;
}

.feedback {
  background-color: #F0F4FB;
  padding: 8% 0;
}
.feedback__content {
  display: flex;
  justify-content: space-between;
}
.feedback__intro-title h3 {
  font-size: 46px;
  line-height: 46px;
  font-weight: 500;
}
.feedback__intro-title h3 span {
  color: #005AA3;
}
.feedback__intro-title p {
  margin: 32px 0;
  font-size: 18px;
  font-weight: 400;
  color: #5C5C5C;
}
.feedback__bank-wrapper {
  overflow: hidden;
  white-space: nowrap;
  max-width: 600px;
  position: relative;
  padding: 12px 0;
  margin: 15px 0;
  border-top: 2px solid #DFDFDF;
  border-bottom: 2px solid #DFDFDF;
}
.feedback__bank-inner {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}
.feedback__bank-item {
  display: inline-block;
  margin-right: 20px;
}
.feedback__bank-item img {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.life__content {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 30px 0;
}
.life__intro {
  margin: 42px 0;
}
.life__intro h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  color: #2C2C2C;
  position: sticky;
  top: 22px;
}
.life__cards-wrapper {
  max-width: 566px;
  width: 100%;
  position: relative;
}
.life__cards-wrapper .main__btn {
  margin: 32px 0;
}
.life__card-item {
  width: 100%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #F0F4FB;
  margin: 42px 0;
  position: sticky;
}
.life__card-intro {
  padding: 20px;
  position: relative;
}
.life__card-intro h2 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0;
}
.life__card-intro p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #888E93;
  margin: 0 0 20px 0;
}
.life__card-button {
  padding: 10px;
  display: flex;
  background-color: #2C2C2C;
  border: 5px solid #F0F4FB;
  border-radius: 30px;
  position: absolute;
  top: -10%;
  left: 40%;
}
.life__card-button h4 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  margin-left: 10px;
}

.reviews {
  background-color: #F0F4FB;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -20px;
  padding: 8% 0;
}
.reviews__slider-btn {
  display: flex;
  gap: 10px;
}
.reviews__slider-btn button {
  background: transparent;
  border: 0px none;
  outline: 0px none;
  cursor: no-drop;
  opacity: 1;
}

.map {
  margin-top: -20px;
  padding: 8% 0;
  background-image: url("../img/bg/bg_map.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.map__slider-btn {
  display: flex;
  gap: 10px;
}
.map__slider-btn button {
  background: transparent;
  border: 0px none;
  outline: 0px none;
  cursor: no-drop;
  opacity: 1;
}

.excursion {
  background-color: #F0F4FB;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -20px;
  padding: 8% 0;
}
.excursion__intro h1 {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
}
.excursion__intro h1 span {
  color: #005AA3;
}
.excursion__form-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.excursion__subtitle p {
  color: #5C5C5C;
  margin: 30px 0;
  max-width: 80%;
}
.excursion__subtitle hr {
  max-width: 566px;
}
.excursion__social {
  display: flex;
  align-items: center;
  margin: 22px 0;
}
.excursion__social-wrapper {
  display: flex;
}
.excursion__social-wrapper a {
  margin: 0 10px;
}
.excursion__social-wrapper a:first-child {
  margin: 0 0;
}
.excursion__social-tel {
  margin: 0 15px;
}
.excursion__social-tel a {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #2C2C2C;
}

.news {
  background-color: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -20px;
  padding: 8% 0;
}
.news__slider-btn {
  display: flex;
  gap: 10px;
}
.news__slider-btn button {
  background: transparent;
  border: 0px none;
  outline: 0px none;
  cursor: no-drop;
  opacity: 1;
}

.contacts {
  background-color: #F0F4FB;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -20px;
  padding: 8% 0;
}
.contacts__contact-block {
  margin-top: -20px;
  padding: 4% 0 8% 0;
  background-color: #F0F4FB;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.contacts__wrapper-card {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  max-height: 350px;
  height: 100%;
}
.contacts__wrapper-card-item {
  max-width: 768px;
  width: 100%;
}
.contacts__card-item {
  padding: 20px;
  border-radius: 12px;
  background-color: #ffffff;
  width: 100%;
}
.contacts__card-item-btn {
  background-color: #005AA3;
  border-radius: 30px;
  padding: 12px;
  display: flex;
  align-items: center;
  max-width: 120px;
}
.contacts__card-item-btn h4 {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 7px;
}
.contacts__card-item-intro {
  margin: 32px 0 0 0;
}
.contacts__card-item-intro a {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #2C2C2C;
}
.contacts__card-item-intro p {
  color: #888E93;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  margin: 12px 0 0 0;
}
.contacts__wrapper-card-head {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.contacts__card-item-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}
.contacts__card-item-body p {
  color: #888E93;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}
.contacts__card-social {
  display: flex;
}
.contacts__card-social a {
  margin: 0 5px;
}
.contacts__wrapper-address {
  max-width: 450px;
  width: 100%;
  height: 100%;
  padding: 19px;
  background-image: url("../img/bg/bg_address.webp");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
}
.contacts__address-title {
  margin: 50px 0;
}
.contacts__address-title h2 {
  color: #ffffff;
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
}
.contacts__address-link {
  display: flex;
  align-items: center;
  margin: 85px 0 0 0;
}
.contacts__address-link a {
  color: rgba(255, 255, 255, 0.5019607843);
  margin: 0 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5019607843);
}

.footer {
  background-image: url("../img/bg/bg_footer.webp");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -20px;
  padding: 5% 0 2% 0;
  color: #ffffff;
}
.footer__head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5019607843);
}
.footer__body {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.footer__block p {
  color: rgba(255, 255, 255, 0.5019607843);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.footer__block a {
  transition: all 0.3s ease;
}
.footer__block a:hover {
  border-bottom: 1px solid #ffffff;
}
.footer__logo img {
  width: 270px;
  height: 116px;
}
.footer__logo p {
  margin: 20px 0;
}
.footer__menu p {
  text-transform: uppercase;
}
.footer__menu nav ul {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.footer__menu nav ul li {
  margin: 5px 0;
}
.footer__menu nav ul li a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  border-bottom: 1px solid transparent;
}
.footer__link p {
  color: #ffffff;
}

.payment {
  background-color: #ffffff;
  padding: 8% 0;
}
.payment__intro {
  padding: 5% 0;
  text-align: center;
}
.payment__intro h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
}
.payment__intro p {
  margin: 20px auto;
  font-size: 18px;
  line-height: 21px;
  color: #5C5C5C;
}
.payment__cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.payment__cards {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 50px;
}
.payment__card {
  max-width: 566px;
  width: 100%;
  border-radius: 12px;
  background-color: #F0F4FB;
  padding: 30px;
}
.payment__title h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  color: #2C2C2C;
}
.payment__title p {
  margin: 10px 0;
  color: #5C5C5C;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
.payment__title nav ul li {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #2C2C2C;
  margin: 12px 0;
}
.payment__title nav ul li img {
  margin: 0 5px 0 0;
}
.payment__subtitle-first {
  border-bottom: 1px solid #DFDFDF;
  padding-bottom: 20px;
}
.payment__card-mb .payment__img img {
  max-width: 100%;
  width: 100%;
}
.payment__title {
  background-color: #F0F4FB;
  padding: 30px;
  border-radius: 12px;
  margin-top: -50px;
  z-index: 10000;
  position: relative;
}
.payment__mb {
  padding: 8% 0;
  margin: 50px 0;
  display: none;
}

.poselki {
  background-color: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -20px;
  padding: 8% 0;
}

.parametrs {
  background-color: #F0F4FB;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 8% 0;
}
.parametrs__intro h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  color: #2C2C2C;
}

.documents {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #ffffff;
  margin-top: -20px;
  padding: 10% 0;
}
.documents__card-item {
  display: flex;
  flex-direction: column;
  background-color: #F0F4FB;
  padding: 30px;
  border-radius: 12px;
}
.documents__card-img {
  display: flex;
  align-items: center;
}
.documents__card-img h4 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #2C2C2C;
  margin: 0 10px;
}
.documents__card-subtitle {
  margin: 12px 0;
}
.documents__card-subtitle p {
  color: #888E93;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
}
.documents__cards-wrapper-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 20px 0;
}
.documents__card-w30 {
  max-width: 30%;
  width: 100%;
}
.documents__card-w70 {
  max-width: 70%;
  width: 100%;
}

.home {
  background-color: #F0F4FB;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -20px;
  padding: 8% 0;
}
.home__cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 50px 0;
}
.home__card-item {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  align-items: self-start;
}
.home__card-intro h3 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
}
.home__card-intro p {
  font-size: 16px;
  line-height: 17px;
  font-weight: 400;
  margin: 20px 0;
  color: #5C5C5C;
}
.home__card-img {
  width: 44px;
  height: 44px;
}
.home__card-img img {
  width: 44px;
  height: 44px;
}

.info {
  background-color: #F0F4FB;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -20px;
  padding: 8% 0;
}
.info__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.info__slider {
  width: 566px;
  max-height: 500px;
  height: 100%;
}
.info__slider-wrapper .component__vue {
  margin: 0;
}
.info__parametrs {
  max-width: 566px;
  max-height: 500px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
}
.info__parametrs button {
  margin: 20px 0;
}
.info__parametr-card {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #F0F4FB;
  padding: 14px;
  border-radius: 10px;
}
.info__parametr-card p {
  font-size: 16px;
  line-height: 17px;
  font-weight: 400;
}
.info__head {
  margin-bottom: 20px;
}
.info__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin: 10px 0;
}
.info__body p {
  max-width: 50%;
}

.building {
  background-color: #2C2C2C;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -20px;
  padding: 8% 0;
}
.building__content {
  display: flex;
  align-items: flex-end;
}
.building__left-content {
  max-width: 50%;
}
.building__intro {
  margin-bottom: 100px;
}
.building__intro h1 {
  color: #ffffff;
}
.building__card {
  display: flex;
  flex-direction: column;
  background-color: #3E3E3E;
  color: #ffffff;
  border-radius: 12px;
  padding: 30px;
  margin: 30px 0;
  max-width: 566px;
}
.building__card-intro {
  display: flex;
  align-items: center;
}
.building__card-intro h3 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 500;
  margin: 0 12px;
}
.building__card-subtitle {
  margin: 20px 0;
}
.building__card-subtitle p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.communaction {
  background-color: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -20px;
  padding: 8% 0;
}
.communaction__cards-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.communaction__card-item {
  background-color: #F0F4FB;
  border-radius: 12px;
  max-width: 368px;
}
.communaction__card-intro {
  display: flex;
  align-items: center;
  background-color: #005AA3;
  color: #ffffff;
  padding: 10px;
  border-radius: 27px;
}
.communaction__card-intro h3 {
  margin-left: 12px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}
.communaction__card-subtitle {
  margin: 12px;
  padding: 20px;
}
.communaction__card-subtitle p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #888E93;
}

.options {
  background-color: #2C2C2C;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -20px;
  padding: 8% 0;
}
.options__content {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.options__intro h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  color: #ffffff;
  max-width: 30%;
  position: sticky;
  top: 0;
}
.options__card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.options__card-item {
  padding: 30px;
  max-width: 566px;
  border-radius: 12px;
  background-color: #3E3E3E;
  position: relative;
}
.options__card-number {
  position: absolute;
  top: -8%;
  background-color: #005AA3;
  color: #ffffff;
  padding: 13px;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.options__card-number h3 {
  color: #ffffff;
  font-size: 20px;
  line-height: 19px;
  font-weight: 500;
}
.options__card-title {
  margin: 12px 0;
}
.options__card-title h2 {
  color: #ffffff;
  font-size: 22px;
  line-height: 22px;
  font-weight: 500;
}
.options__card-title p {
  color: #888E93;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 12px 0 20px 0;
}
.options__card-subtitle p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.options__card-subtitle-paragraph {
  display: flex;
  align-items: center;
  margin: 12px 0;
}
.options__card-subtitle-paragraph p {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
.options__card-subtitle-paragraph img {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.cottages__hp-wrapper {
  background-color: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -20px;
  padding: 8% 0;
  text-align: center;
}
.cottages__hp h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.features {
  background-color: #2C2C2C;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -20px;
  padding: 8% 0;
}
.features__intro h1 {
  color: #ffffff;
}
.features__card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.features .options__card-title p {
  margin: 5px 0;
}
.features .options__card-subtitle-paragraph:first-child {
  margin: 0 0;
}

.aerial {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #ffffff;
  margin-top: -20px;
  padding: 10% 0;
}
.aerial__intro h1 {
  max-width: 50%;
}

.territory__vp {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #F0F4FB;
  margin-top: -20px;
  padding: 10% 0;
}

.masterplan {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #2C2C2C;
  margin-top: -20px;
  padding: 10% 0;
}
.masterplan__intro h1 {
  color: #ffffff;
}
.masterplan__button-wrapper {
  display: flex;
  gap: 12px;
}
.masterplan__button-item {
  cursor: pointer;
}
.masterplan__button-item svg:hover {
  fill: #ffffff;
}
.masterplan__button-item svg:hover path {
  fill: #2C2C2C;
}

.photogallery {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #ffffff;
  margin-top: -20px;
  padding: 10% 0;
}

.collection {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #F0F4FB;
  margin-top: -20px;
  padding: 10% 0;
}
.collection__intro h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.collection__cataloghome {
  background-color: #ffffff;
}

.nearbyvillages {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #ffffff;
  margin-top: -20px;
  padding: 10% 0;
}
.nearbyvillages__intro h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.directions {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #2C2C2C;
  margin-top: -20px;
  padding: 10% 0;
}
.directions__content {
  display: flex;
  justify-content: space-between;
}
.directions__intro-item h1 {
  color: #ffffff;
}
.directions__table {
  display: flex;
  margin: 40px 0;
}
.directions__table-item {
  padding: 20px;
  border: 1px solid #4C4C4C;
  text-align: center;
}
.directions__table-item h3 {
  color: #ffffff;
  font-size: 26px;
  line-height: 26px;
  font-weight: 500;
}
.directions__table-item p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #888E93;
  margin: 5px 0;
}
.directions__left-table-item {
  border-left: 0px none;
}
.directions__right-table-item {
  border-right: 0px none;
}
.directions__cards .building__card {
  background: linear-gradient(180deg, #3e3e3e 0%, rgba(62, 62, 62, 0) 100%);
}
.directions__cards .building__card:first-child {
  margin: 0 0;
}
.directions__cards .building__card-subtitle p {
  margin: 12px 0;
}

.infrastructure {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #ffffff;
  margin-top: -20px;
  padding: 10% 0;
}

.progress {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #F0F4FB;
  margin-top: -20px;
  padding: 10% 0;
}
.progress__wrapper {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  transition: transform 0.3s ease-in-out;
}
.progress__wrapper::-webkit-scrollbar {
  display: none;
}
.progress__card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  min-width: 390px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.progress__card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.progress__head {
  display: flex;
  justify-content: space-between;
}
.progress__head-scale {
  display: flex;
  gap: 5px;
}
.progress__scale-item {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 1px solid #005AA3;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}
.progress__scale-item.progress__scale-full {
  background-color: #005AA3;
}
.progress__body {
  margin: 40px 0 10px 0;
}
.progress__body h3 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  transition: color 0.3s ease;
}
.progress__body h3:hover {
  color: #003e70;
}
.progress__body p {
  margin: 12px 0;
  font-size: 16px;
  line-height: 17px;
  font-weight: 400;
  white-space: normal;
  word-wrap: break-word;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
.progress__body p:hover {
  opacity: 1;
}

.cataloghome__form {
  background-image: url("../img/bg/bg_call.webp");
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -20px;
  padding: 8% 0;
}
.cataloghome__form-content {
  display: flex;
  gap: 50px;
}
.cataloghome__form-intro {
  color: #ffffff;
}
.cataloghome__form-intro h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
}
.cataloghome__form-intro p {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #888E93;
  margin: 50px 0;
}
.cataloghome__form-wrapper {
  max-width: 566px;
}
.cataloghome__form-wrapper .form {
  background-color: rgba(255, 255, 255, 0.1019607843);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.cataloghome__form-wrapper .checkbox-view {
  background-color: transparent;
}

.settlements {
  background-color: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -20px;
  padding: 8% 0;
}

.footer__mb {
  display: none;
}

@media screen and (max-width: 1244px) {
  .container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .contacts__wrapper-card-item {
    max-width: 100%;
  }
  .contacts__wrapper-card {
    flex-wrap: wrap;
    max-height: 100%;
  }
  .contacts__wrapper-address {
    max-width: 100%;
  }
  .life__content {
    flex-wrap: wrap;
  }
  .life__cards-wrapper {
    max-width: 100%;
  }
  .life__card-img {
    max-width: 100%;
    width: 100%;
  }
  .life__card-img img {
    max-width: 100%;
    width: 100%;
  }
  .feedback__content {
    max-width: 100%;
    width: 100%;
    flex-wrap: wrap;
  }
  .feedback__intro {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .feedback__bank-wrapper {
    max-width: 100%;
  }
  .form {
    min-width: 100%;
    background-color: transparent;
    padding: unset;
  }
  .conditions {
    background-size: cover;
  }
  .conditions__wrapper {
    gap: 50px;
  }
  .header__navbar-links {
    display: none;
  }
  .excursion__form-wrapper {
    flex-wrap: wrap;
  }
  .excursion__social {
    display: none;
  }
  .excursion__subtitle hr {
    display: none;
  }
  .excursion__subtitle p {
    max-width: 100%;
    text-align: center;
  }
  .footer__head {
    padding-top: 2%;
  }
  .form__form-input {
    background-color: #ffffff;
  }
  .footer {
    display: none;
  }
  .footer__mb {
    display: block;
  }
  .payment {
    display: none;
  }
  .payment__mb {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .conditions__card {
    max-width: 100%;
    width: 100%;
  }
  .excursion__social {
    margin: 22px auto;
    justify-content: center;
  }
  .excursion__subtitle p {
    max-width: 100%;
    text-align: center;
  }
  .header__intro-slider {
    display: none;
  }
  .territory__card-item {
    width: 40%;
  }
  .conditions__intro {
    display: none;
  }
  .title__block {
    flex-direction: column;
    text-align: left;
    align-items: unset;
    padding: 20px 0;
  }
  .title__block p {
    margin: 10px 0;
  }
  .header__intro-item h1 {
    max-width: 100%;
    margin: 20px 0;
  }
  .video__slider-btn {
    display: none;
  }
  .reviews__slider-btn {
    display: none;
  }
  .news__slider-btn {
    display: none;
  }
  .excursion__form-wrapper {
    margin: unset;
  }
  .excursion {
    padding: 14% 0;
  }
  .contacts__card-item-body p {
    display: none;
  }
  .contacts__wrapper-card-head {
    flex-wrap: wrap;
  }
  .footer__body-mb {
    flex-direction: column;
    gap: 20px;
  }
  .footer__head {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5019607843);
    padding-top: 40px;
  }
  .footer__logo img {
    width: 66%;
    height: unset;
  }
  .header__mortgage-cards {
    flex-wrap: wrap;
  }
  .header__mortgage-card-item {
    width: 100%;
    display: flex;
  }
  .header__mortgage-card-item p {
    margin-left: 10px;
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;
  }
  .documents__cards-wrapper-head {
    flex-direction: column;
  }
  .documents__card-w30 {
    max-width: 100%;
  }
  .documents__card-w70 {
    max-width: 100%;
  }
  .header__finishing-intro-item h1 {
    font-size: 26px;
    line-height: 27px;
    font-weight: 500;
    text-align: left;
  }
  .header__finishing-intro-item p {
    font-size: 14px;
    line-height: 18px;
  }
  .parametrs__intro h1 {
    font-size: 26px;
    line-height: 24px;
    font-weight: 500;
    text-align: left;
  }
}
@media screen and (max-width: 500px) {
  .territory__card-item {
    width: 100%;
  }
  .header__intro-checks button {
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
  }
  .header__intro-item h1 {
    font-size: 32px;
    line-height: 30px;
    font-weight: 500;
  }
  .title__block h1 {
    font-size: 26px;
    line-height: 24px;
    font-weight: 500;
  }
  .title__block p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
  .conditions__card-title h2 {
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
  }
  .conditions__card-subtitle p {
    font-size: 12px;
    line-height: 13px;
    font-weight: 500;
  }
  .main__btn {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
  }
  .territory__card-title h3 {
    font-size: 12px;
    line-height: 13px;
    font-weight: 400;
  }
  .feedback__intro-title h3 {
    font-size: 26px;
    line-height: 26px;
    font-weight: 500;
  }
  .feedback__intro-title p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
  .form__form-polit label {
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
  }
  .form__form-polit label a {
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
  }
  .life__intro h1 {
    font-size: 26px;
    font-weight: 500;
    line-height: 24px;
    position: unset;
  }
  .life__card-button {
    left: 35%;
  }
  .excursion__intro h1 {
    font-size: 26px;
    line-height: 27px;
    font-weight: 500;
  }
  .excursion__subtitle p {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
  }
  .documents__card-img h4 {
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;
  }
  .documents__card-subtitle p {
    font-size: 12px;
    line-height: 13px;
    font-weight: 400;
  }
}/*# sourceMappingURL=main.css.map */