@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "_root";
@import "_reset";
@import "_assets";
@import "_form";

.header {
    background-image: url("../img/bg/bg_firstblock.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0 0 0;
    &__navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid $white2;
    }
    &__navbar-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__navbar-menu {
        nav {
            margin: 0 20px;
            ul {
                display: flex;
                li {
                    margin: 0 10px;
                    a {
                        color: $white;
                        transition: all 0.2s ease;
                        &:hover {
                            color: $white1;
                        }
                    }
                }
            }
        }
    }
    &__navbar-tel {
        display: flex;
        align-items: center;
        margin: 0 12px;
        border-right: 2px solid $white2;
        padding-right: 12px;
        a {
            margin: 0 20px 0 0;
            font-size: 16px;
            font-weight: 500;
            color: $white;
            transition: all 0.3s ease;
            &:hover {
                color: $white1;
            }
        }
    }
    &__navbar-social {
        display: flex;
        a {
            margin: 0 5px;
            cursor: pointer;
            svg {
                transition:
                    fill 0.5s linear,
                    stroke 0.5s linear;
                &:hover {
                    rect {
                        stroke: $blue;
                    }
                    path {
                        fill: $blue;
                    }
                }
            }
        }
    }
    &__navbar-social-favorite {
        transition: all 0.3s ease;
        svg {
            &:hover {
                rect {
                    fill: $blue;
                }
                path {
                    stroke: $white;
                }
            }
        }
    }
    &__intro-block {
        display: flex;
    }
    &__intro-wrapper {
        margin: 30px 0 0 0;
        display: flex;
        flex-direction: column;
    }
    &__intro-checks {
        display: flex;
        flex-wrap: wrap;
        max-width: 440px;
        gap: 10px;
        button {
            display: flex;
            align-items: center;
            background: $white3;
            color: $white;
            backdrop-filter: blur(2px);
            border: 0px none;
            outline: 0px none;
            border-radius: 30px;
            padding: 10px 12px;
            font-size: 16px;
            font-weight: 400;
            img {
                margin: 0 6px 0 0;
            }
        }
    }
    &__intro-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: auto;
        padding-bottom: 10%;
        h1 {
            color: $white;
            font-size: 36px;
            font-weight: 500;
            line-height: 30px;
            max-width: 60%;
        }
        svg {
            margin: 20px 0;
            cursor: pointer;
            &:hover {
                transition: fill 0.7s ease-in-out;
                fill: $white;
                path {
                    fill: #000;
                }
            }
        }
    }
    &__intro-slider {
        border-left: 1px solid $white2;
        padding: 30px 30px 10% 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: auto;
        height: 140vh;
    }
    &__slider-wrapper {
        width: 400px;
        padding: 14px;
        margin: 20px;
        border-radius: 12px;
        background: $white2;
        backdrop-filter: blur(4px);
        color: $white;
    }
    &__slider-intro-title {
        width: 100%;
        h3 {
            font-size: 18px;
            line-height: 18px;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            border: 2px solid $white2;
            border-radius: 10px;
            padding: 20px;
        }
    }
    &__slider-intro-subtitle {
        display: flex;
        align-items: center;
        position: relative;
        margin: 12px 0;
    }
    &__slider-intro-subtitle-wrapper {
        z-index: 10000;
        p {
            display: flex;
            flex-direction: column;
            margin: 10px;
            max-width: 70%;
            img {
                width: 22px;
                height: 22px;
                margin-bottom: 10px;
            }
        }
    }
    &__slider-intro-img {
        img {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 8000;
        }
    }
    &__slider-item {
        button {
            margin: 12px 0 24px 0;
            img {
                margin: 0 5px;
            }
            &:hover {
                background-color: $blue2;
                img {
                    transition: all 0.3s ease;
                    transform: translateX(5px);
                }
            }
        }
    }
    &__contacts {
        background-image: url("../img/bg/bg_contacts.webp");
    }
    &__contacts-wrapper {
        padding: 2% 0 12% 0;
    }
    &__contacts-path {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $white2;
        padding-bottom: 2%;
        a {
            margin: 0 20px 0 0;
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
            color: $white;
        }
        p {
            color: $white1;
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
        }
    }
    &__contacts-intro {
        margin: 3% 0 5% 0;
        h1 {
            color: $white;
        }
    }
    &__mp {
        background-color: $black;
        background-image: unset;
    }
    &__mp-wrapper {
        padding: 2% 0;
    }
    &__pay {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        background-color: $black;
        background-image: unset;
    }
    &__pay-wrapper {
        padding: 2% 0;
    }
    &__pay-path {
        display: flex;
        align-items: center;
        padding: 20px 0;
        a {
            margin: 0 20px 0 0;
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
            color: $white;
        }
        p {
            color: $white1;
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
        }
    }
    &__villages {
        background-image: url("../img/bg/bg_villages.webp");
        background-color: $black;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px 0 0 0;
    }
    &__villages-path {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $white2;
        padding: 20px 0;
        a {
            margin: 0 20px 0 0;
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
            color: $white;
        }
        p {
            color: $white1;
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
        }
    }
    &__villages-intro-block {
        .header__intro-wrapper {
            margin: unset;
            width: 100%;
        }
    }
    &__subtitle-item {
        color: $white;
        padding: 6% 0 2% 0;
        h1 {
            font-size: 60px;
            font-weight: 500;
            line-height: 54px;
        }
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin: 42px 0;
        }
    }
    &__villages-intro-checks {
        padding-bottom: 14%;
    }
    &__finishing {
        background-image: url("../img/bg/bg_finishing.webp");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2% 0 12% 0;
        .header__pay-path {
            border-bottom: 1px solid $white2;
        }
    }
    &__finishing-intro-item {
        text-align: center;
        margin: 50px auto;
        h1 {
            color: $white;
            font-size: 60px;
            line-height: 60px;
            font-weight: 500;
        }
        p {
            color: $white;
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            margin: 30px 0;
        }
    }
    &__finishing-card-item {
        .territory__card-img {
            display: flex;
            align-items: center;
            h3 {
                font-size: 18px;
                line-height: 18px;
                font-weight: 500;
                color: $black;
                margin-left: 10px;
            }
        }
        .territory__card-title {
            p {
                color: $gray;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
            }
        }
    }
    &__finishing-img {
        img {
            border-radius: 12px;
        }
    }
    &__finishing-subtitle {
        button {
            margin: 14px 0 0 0;
        }
    }
    &__mortgage {
        background-image: url("../img/bg/bg_mortgage.webp");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2% 0 12% 0;
        .header__pay-path {
            border-bottom: 1px solid $white2;
        }
    }
    &__mortgage-cards {
        display: flex;
        gap: 30px;
        justify-content: space-between;
        width: 100%;
    }
    &__mortgage-card-item {
        background-color: $white3;
        backdrop-filter: blur(8px);
        border-radius: 14px;
        padding: 20px;
        p {
            color: $white;
            font-size: 18px;
            font-weight: 500;
            line-height: 20px;
            margin: 20px 0;
        }
    }
}
.villages {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: $white;
    margin-top: -20px;
    padding: 10% 0;
}
.cottages {
    background-color: $blue3;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 8% 0;
}
.house {
    background-color: $white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -20px;
    padding: 8% 0;
}

.conditions {
    background-image: url("../img/bg/bg_conditions.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: $blue3;
    padding: 80px 0 20px 0;
    &__intro {
        h1 {
            color: $white;
            font-size: 50px;
            font-weight: 500;
            line-height: 54px;
            text-align: center;
        }
    }
    &__wrapper {
        margin: 50px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }
    &__card {
        max-width: 368px;
        width: 100%;
        background-color: $white3;
        backdrop-filter: blur(4px);
        border-radius: 14px;
        padding: 20px;
        position: relative;
    }
    &__card-title {
        padding: 18px 10px;
        border: 1px solid $white2;
        border-radius: 12px;
        h2 {
            color: $white;
            font-size: 18px;
            font-weight: 600;
            line-height: 18px;
            text-transform: uppercase;
            text-align: center;
        }
    }
    &__card-subtitle {
        margin: 15px 0;
        display: flex;
        p {
            display: flex;
            flex-direction: column;
            color: $white;
            font-size: 15px;
            font-weight: 400;
            line-height: 17px;
            margin: 10px 0;
            max-width: 240px;
            img {
                width: 22px;
                height: 22px;
                margin: 10px 0;
            }
        }
    }
    &__card-subtitle-img {
        position: absolute;
        right: 0;
        z-index: 8000;
        img {
            max-width: 180px;
        }
    }
}

.territory {
    background-color: $blue3;
    padding: 8% 0;
    &__cards {
        margin: 50px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__card-item {
        padding: 10px 20px;
        background-color: $white;
        border-radius: 12px;
        width: 270px;
    }
    &__card-img {
        img {
            margin: 10px 0;
        }
    }
    &__card-title {
        margin: 12px 0;
        h3 {
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
        }
    }
}
.video {
    background-color: $white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -20px;
    padding: 8% 0;
    &__slider-btn {
        display: flex;
        gap: 10px;
        button {
            background: transparent;
            border: 0px none;
            outline: 0px none;
            cursor: no-drop;
            opacity: 1;
        }
    }
}
.feedback {
    background-color: $blue3;
    padding: 8% 0;
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__intro-title {
        h3 {
            font-size: 46px;
            line-height: 46px;
            font-weight: 500;
            span {
                color: $blue;
            }
        }
        p {
            margin: 32px 0;
            font-size: 18px;
            font-weight: 400;
            color: $gray;
        }
    }
    &__bank-wrapper {
        overflow: hidden;
        white-space: nowrap;
        max-width: 600px;
        position: relative;
        padding: 12px 0;
        margin: 15px 0;
        border-top: 2px solid $white4;
        border-bottom: 2px solid $white4;
    }
    &__bank-inner {
        display: inline-block;
        white-space: nowrap;
        animation: scroll 20s linear infinite;
    }
    &__bank-item {
        display: inline-block;
        margin-right: 20px;
        img {
            display: inline-block;
            width: 100%;
            height: 100%;
            vertical-align: middle;
        }
    }
    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }
}

.life {
    &__content {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 30px 0;
    }
    &__intro {
        margin: 42px 0;
        h1 {
            font-size: 40px;
            font-weight: 500;
            line-height: 40px;
            color: $black;
            position: sticky;
            top: 22px;
        }
    }
    &__cards-wrapper {
        max-width: 566px;
        width: 100%;
        position: relative;
        .main__btn {
            margin: 32px 0;
        }
    }
    &__card-item {
        width: 100%;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        background-color: $blue3;
        margin: 42px 0;
        position: sticky;
    }
    &__card-intro {
        padding: 20px;
        position: relative;
        h2 {
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
            text-align: center;
            margin: 20px 0;
        }
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            color: $gray3;
            margin: 0 0 20px 0;
        }
    }
    &__card-button {
        padding: 10px;
        display: flex;
        background-color: $black;
        border: 5px solid $blue3;
        border-radius: 30px;
        position: absolute;
        top: -10%;
        left: 40%;
        h4 {
            color: $white;
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            text-transform: uppercase;
            margin-left: 10px;
        }
    }
}
.reviews {
    background-color: $blue3;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -20px;
    padding: 8% 0;
    &__slider-btn {
        display: flex;
        gap: 10px;
        button {
            background: transparent;
            border: 0px none;
            outline: 0px none;
            cursor: no-drop;
            opacity: 1;
        }
    }
}
.map {
    margin-top: -20px;
    padding: 8% 0;
    background-image: url("../img/bg/bg_map.webp");
    background-repeat: no-repeat;
    background-size: cover;
    &__slider-btn {
        display: flex;
        gap: 10px;
        button {
            background: transparent;
            border: 0px none;
            outline: 0px none;
            cursor: no-drop;
            opacity: 1;
        }
    }
}
.excursion {
    background-color: $blue3;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -20px;
    padding: 8% 0;
    &__intro {
        h1 {
            text-align: center;
            font-size: 40px;
            line-height: 40px;
            font-weight: 500;
            span {
                color: $blue;
            }
        }
    }
    &__form-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 50px 0;
    }
    &__subtitle {
        p {
            color: $gray;
            margin: 30px 0;
            max-width: 80%;
        }
        hr {
            max-width: 566px;
        }
    }
    &__social {
        display: flex;
        align-items: center;
        margin: 22px 0;
    }
    &__social-wrapper {
        display: flex;
        a {
            margin: 0 10px;
            &:first-child {
                margin: 0 0;
            }
        }
    }
    &__social-tel {
        margin: 0 15px;
        a {
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
            color: $black;
        }
    }
}
.news {
    background-color: $white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -20px;
    padding: 8% 0;
    &__slider-btn {
        display: flex;
        gap: 10px;
        button {
            background: transparent;
            border: 0px none;
            outline: 0px none;
            cursor: no-drop;
            opacity: 1;
        }
    }
}
.contacts {
    background-color: $blue3;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -20px;
    padding: 8% 0;
    &__contact-block {
        margin-top: -20px;
        padding: 4% 0 8% 0;
        background-color: $blue3;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    &__wrapper-card {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        max-height: 350px;
        height: 100%;
    }
    &__wrapper-card-item {
        max-width: 768px;
        width: 100%;
    }
    &__card-item {
        padding: 20px;
        border-radius: 12px;
        background-color: $white;
        width: 100%;
    }
    &__card-item-btn {
        background-color: $blue;
        border-radius: 30px;
        padding: 12px;
        display: flex;
        align-items: center;
        max-width: 120px;
        h4 {
            font-size: 14px;
            line-height: 14px;
            font-weight: 400;
            color: $white;
            margin: 0 7px;
        }
    }
    &__card-item-intro {
        margin: 32px 0 0 0;
        a {
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
            color: $black;
        }
        p {
            color: $gray3;
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
            margin: 12px 0 0 0;
        }
    }
    &__wrapper-card-head {
        display: flex;
        gap: 50px;
        justify-content: space-between;
    }
    &__card-item-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0;
        p {
            color: $gray3;
            font-size: 18px;
            line-height: 18px;
            font-weight: 400;
        }
    }
    &__card-social {
        display: flex;
        a {
            margin: 0 5px;
        }
    }
    &__wrapper-address {
        max-width: 450px;
        width: 100%;
        height: 100%;
        padding: 19px;
        background-image: url("../img/bg/bg_address.webp");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 12px;
    }
    &__address-title {
        margin: 50px 0;
        h2 {
            color: $white;
            font-size: 20px;
            line-height: 23px;
            font-weight: 500;
        }
    }
    &__address-link {
        display: flex;
        align-items: center;
        margin: 85px 0 0 0;
        a {
            color: $white1;
            margin: 0 10px;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            border-bottom: 1px solid $white1;
        }
    }
}
.footer {
    background-image: url("../img/bg/bg_footer.webp");
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -20px;
    padding: 5% 0 2% 0;
    color: $white;
    &__head {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2%;
        border-bottom: 1px solid $white1;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        margin: 50px 0;
    }
    &__block {
        p {
            color: $white1;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }
        a {
            transition: all 0.3s ease;
            &:hover {
                border-bottom: 1px solid $white;
            }
        }
    }
    &__logo {
        img {
            width: 270px;
            height: 116px;
        }
        p {
            margin: 20px 0;
        }
    }
    &__menu {
        p {
            text-transform: uppercase;
        }
        nav {
            ul {
                display: flex;
                flex-direction: column;
                margin: 20px 0;
                li {
                    margin: 5px 0;
                    a {
                        color: $white;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        border-bottom: 1px solid transparent;
                    }
                }
            }
        }
    }
    &__link {
        p {
            color: $white;
        }
    }
}
.payment {
    background-color: $white;
    padding: 8% 0;
    &__intro {
        padding: 5% 0;
        text-align: center;
        h1 {
            font-size: 60px;
            font-weight: 500;
            line-height: 60px;
        }
        p {
            margin: 20px auto;
            font-size: 18px;
            line-height: 21px;
            color: $gray;
        }
    }
    &__cards-wrapper {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    &__cards {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 50px;
    }
    &__card {
        max-width: 566px;
        width: 100%;
        border-radius: 12px;
        background-color: $blue3;
        padding: 30px;
    }
    &__title {
        h2 {
            font-size: 28px;
            font-weight: 500;
            line-height: 28px;
            color: $black;
        }
        p {
            margin: 10px 0;
            color: $gray;
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
        }
        nav {
            ul {
                li {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    line-height: 16px;
                    font-weight: 400;
                    color: $black;
                    margin: 12px 0;
                    img {
                        margin: 0 5px 0 0;
                    }
                }
            }
        }
    }
    &__subtitle-first {
        border-bottom: 1px solid $white4;
        padding-bottom: 20px;
    }
}
.poselki {
    background-color: $white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -20px;
    padding: 8% 0;
}
.parametrs {
    background-color: $blue3;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 8% 0;
    &__intro {
        h1 {
            text-align: center;
            margin: 0 auto;
            font-size: 60px;
            font-weight: 500;
            line-height: 60px;
            color: $black;
        }
    }
}
.documents {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #ffffff;
    margin-top: -20px;
    padding: 10% 0;
    &__card-item {
        display: flex;
        flex-direction: column;
        background-color: $blue3;
        padding: 30px;
        border-radius: 12px;
    }
    &__card-img {
        display: flex;
        align-items: center;
        h4 {
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
            color: $black;
            margin: 0 10px;
        }
    }
    &__card-subtitle {
        margin: 12px 0;
        p {
            color: $gray3;
            font-size: 16px;
            font-weight: 400;
            line-height: 17px;
        }
    }
    &__cards-wrapper-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        margin: 20px 0;
    }
    &__card-w30 {
        max-width: 30%;
        width: 100%;
    }
    &__card-w70 {
        max-width: 70%;
        width: 100%;
    }
}
.home {
    background-color: $blue3;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -20px;
    padding: 8% 0;
    &__cards {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin: 50px 0;
    }
    &__card-item {
        background-color: $white;
        padding: 30px;
        border-radius: 12px;
        display: flex;
        align-items: self-start;
    }
    &__card-intro {
        h3 {
            font-size: 24px;
            line-height: 24px;
            font-weight: 500;
        }
        p {
            font-size: 16px;
            line-height: 17px;
            font-weight: 400;
            margin: 20px 0;
            color: $gray;
        }
    }
    &__card-img {
        width: 44px;
        height: 44px;
        img {
            width: 44px;
            height: 44px;
        }
    }
}
.info {
    background-color: #F0F4FB;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -20px;
    padding: 8% 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__slider {
        width: 566px;
        max-height: 500px;
        height: 100%;
    }
    &__slider-wrapper {
        .component__vue {
            margin: 0;
        }
    }
    &__parametrs {
        max-width: 566px;
        max-height: 500px;
        padding: 30px;
        background-color: $white;
        border-radius: 12px;
        button {
            margin: 20px 0;
        }
    }
    &__parametr-card {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: $blue3;
        padding: 14px;
        border-radius: 10px;
        p {
            font-size: 16px;
            line-height: 17px;
            font-weight: 400;
        }
    }
    &__head {
        margin-bottom: 20px;
    }
    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin: 10px 0;
        p {
            max-width: 50%;
        }
    }
}